/* 기본 스타일 */
body {
  margin: 20px;
}

a {
  color: #767676;
  text-decoration: none;
}

h1 {
  font-size: 24px;
}

/* 래퍼 스타일 */
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 314px;
}

/* 로그인 섹션 스타일 */
.loginSection {
  max-width: 350px;
  height: 140px;
  border-radius: 4px;
  border: 1px solid black;
  padding: 30px 0 30px 30px;
}

/* 버튼 스타일 */
button {
  background-color: #711bff;
  color: white;
  height: 40px;
  width: 318px;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

button > span {
  font-size: 12px;
}

/* 아이콘 스타일 */
.icon-lock,
.icon-user {
  width: 16px;
  height: 16px;
}

/* 로고 스타일 */
.weniv-logo {
  height: 18px;
  width: 64px;
}

/* 텍스트 래퍼 스타일 */
.textWrapper {
  display: flex;
  align-items: center;
}

/* 구분선 스타일 */
.seperator::after {
  content: "";
  border-right: 0.1rem solid #767676;
  margin: 0 5px;
  display: block;
  height: 16px;
}
